*{
	margin:0;
	padding:0;
}
body{
	background-color: black;
	color: white;
}
header{
    display:flex;
    justify-content: space-between;
}

.about{
	background-color: black;
    color: white;
    font-size: 25px;
    text-indent: 30px;
    line-height: 40px;
    text-align: justify;
    margin: 50px;
    padding-left: 100px;
    padding-right: 100px;
	
}

.menu{
    background-color: black;
	display:flex;
}

.menu li{
    padding: 10px;
    list-style: none;
 }

.menu a{
    text-decoration: none;
    color: white;
 }
 
.logo{
    height: 1000px;
    background-image: url('../images/farcry6.jpg');
    background-size: cover;
    text-align: center;
}

h1{
    color: white;
    font-size: 70px;
    padding-top: 150px;
}

.logo p{
   padding-top: 300px;
   font-size: 20px;
   color: light-grey;
   text-shadow: 2px 2px 2px black;
   margin: 50px;
   padding:50px;

}

footer{
	background-color: black;
    color: white;
    font-size: 15px;
    text-align: center;
	
}
form{
	margin: 50px;
	font-size: 30px;
	text-align: center;
	
}
h2{
    font-size: 50px;
    
}
form{
	margin: 50px;
	font-size: 30px;
	text-align: center;
	
}

input{
	width: 400px;
	font-size: 20px;
	
}

option{
	font-size: 20px
}

button{
	background-color: black;
	color: white;
	font-size: 20px;
	margin: 15px;
	padding: 10px;
	
}
.welcome_user{
    padding:10px;
    font-size:20px;
}
.logo_article{
    height: 600px;
    background-image: url('../images/загружено.jfif');
    background-size: cover;
    text-align: center;
}
.link{
    color:white;
    text-decoration:none;

}
.container{
    border: solid 3px #9fa59d;
    margin: 30px 100px;
    padding: 10px;
    display: flex;
}
.post_img{
    width: 270px;
    overflow: hidden;
}
.post_img img{
    height:390px;
}
.article_text{
    max-width: 850px;
    padding: 20px;
}
.text{
    font-size: 15px;
    text-align: justify;
    text-indent: 15px;
    max-height: 160px;
    overflow: hidden;
}
.article_text h3{
    color: #c4ff9e;
}
.details{
    color: #9fa59d;
    font-size: 15px;
    margin: 30px 0
}
.ful_text{
    font-size: 25px;
    text-align: justify;
    text-indent: 15px;
}
.full_post_container{
    border: solid 3px #9fa59d;
    margin: 30px 100px 30px 100px;
    padding: 20px;
}
.full_post_img{
    text-align: center;
    padding-top: 20px;
}
.delete_form{
text-align: left;
}