{%extends "base.html"%}

{%block welcome%}
	{%if user_name%}
		<p>Welcome, {{user_name}}!</p>
	{%else%}
		<p> Hello!</p>
	{%endif%}
{%endblock%}

{%block main%}
	<section class="logo">
		<h1>:3</h1>
				<p style="">Far Cry 6 — компьютерная игра в жанре шутера от первого лица и action-adventure, разработанная студией Ubisoft Toronto и изданная компанией Ubisoft. Является шестой основной игрой из одноимённой серии[2]. Действие происходит в вымышленной тропической стране Яра, и повествует о противостоянии главного героя (или героини) местного сопротивления по имени Дани Рохас и жестокого диктатора Антона Кастильо (Джанкарло Эспозито)[3]. Создатели были вдохновлены действиями партизан Кубы[4]. На официальном сайте Far Cry 6 назван политической игрой, сюжет которой рассказывает о современной революции[5]. Выход игры состоялся 7 октября 2021 года для Windows, PlayStation 4, PlayStation 5, Xbox One и Xbox Series X/S.</p>
			</section>
			<section class="about">
				<p>тут нужно что-то придумать)):3</p>
			</section>
{%endblock%}


